/* Things used:

  bg colors: #1f2937,

  text colors: #e5e7eb, #f9faf8

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */
.dark-bg {
  background-color: #1f2937;
}

.light-bg {
  background-color: #e5e7eb;
}

/* "huge" parts */

body {
  font-family: "Roboto";
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.container--small {
  width: 900px;
  margin: 0 auto;
}

.flex--dir-col {
  display: flex;
  flex-direction: column;
}

.al--start {
  align-items: flex-start;
}

.dis--in-blk {
  display: inline-block;
}

.wdth--two-hun {
  width: 200px;
}

/* NAV AND HEADER */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  margin-bottom: 64px;
}

header {
  padding-bottom: 128px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-link,
.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.nav-link {
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.hero {
  display: flex;
  gap: 50px;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text {
  margin-bottom: 10px;
}

.btn-sign {
  width: 120px;
  height: 35px;
  border-radius: 8px;
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  font-size: 16px;
  font-weight: 700;
}

.placeholder {
  width: 500px;
  height: 200px;
  background-color: rgb(77, 77, 77);
  color: white;
  text-align: center;
  flex: 0 0 auto;
}

/* INFO SECTION */

.flex {
  display: flex;
  justify-content: space-between;
}

.info-title {
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.small-box {
  width: 200px;
  height: 200px;
  border: #3882f6 5px solid;
  border-radius: 20px;
}

.small-text {
  padding-top: 8px;
  padding-bottom: 96px;
  font-size: 18px;
  color: #e5e7eb;
  text-align: center;
}

/* QUOTE SECTION */

.quote-text{
  padding-top: 96px;
  padding-bottom: 8px;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote-author{
  text-align: end;
  font-size: 24px;
  padding-bottom: 96px;
}